@media screen and (min-width: 768px) {
  .header-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    flex-direction: row;
    gap: 30px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  #hamburger {
    display: none;
  }

  #nav-menu {
    display: block !important;
  }
}



